.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo_container img {
    height: 40px;
}

#center_elements span,
.right_elements span {
    font-size: 20px;
    margin: 0 10px;
}

#center_elements span a,
.right_elements span a {
    text-decoration: none;
    color: #333;
}

#center_elements span a:hover,
.right_elements span a:hover {
    color: #ff8c00;
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    margin-top: 30px;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    h2 {
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
    }
    
    p {
        font-size: 1.125rem;
        line-height: 1.5;
        margin: 0 0 1.5rem 0;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: #333;
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    
    section {
        margin-bottom: 3rem;
    }
    