.success-message {
    margin-top:100px ;
    background-color: #3c36ad;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom:210px ;
  }
  
  .success-message i {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .success-message h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .success-message p {
    font-size: 16px;
    margin-bottom: 0;
  }

  
body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #logo_container img {
    height: 40px;
  }
  
  #center_elements a,
  .right_elements a {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  #center_elements a:hover,
  .right_elements a:hover {
    color: #ff8c00;
  }
  
  
  /* Footer styles */
  footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    margin-top: 30px;
    }
    
    footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    footer .row a:hover{
    color:#fff;
    }
    
    footer .row ul{
    width:100%;
    }
    
    footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    footer .row a img {
        width: 30px;
        padding: 10px; 
      }
      
      
    
     
      