* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo_container img {
  height: 60px;
  margin-left: 15px;
}

#center_elements a,
.right_elements a {
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

#center_elements a:hover,
.right_elements a:hover {
  color: #ff8c00;
}

/* Contact container styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-form {
  width: 420px;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: rgb(247,232,121);
  margin-top: 70px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}
.contact-form p.success {
  color: green;
  margin-top: 10px;
}

.contact-form p.error {
  color: red;
  margin-top: 10px;
}
.contact-form button[type="submit"] {
  background-color: #cc8844;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #ff6b00;
}
.contact-form input[type="reset"] {
  background-color: #cc8844;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form input[type="reset"]:hover {
  background-color: #ff6b00;
}

  
/* Footer styles */
footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  margin-top: 30px;
  }
  
  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  footer .row a:hover{
  color:#fff;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  footer .row a img {
      width: 30px;
      padding: 10px; 
    }
    
  
.fb img {
  transition: transform 0.3s ease;
}

.fb:hover img {
  transform: scale(1.2); 
}
.insta img {
  transition: transform 0.3s ease;
}

.insta:hover img {
  transform: scale(1.2);
  
}
.ytb img {
  transition: transform 0.3s ease;
}

.ytb:hover img {
  transform: scale(1.2);
  
}
.twt img {
  transition: transform 0.3s ease;
}

.twt:hover img {
  transform: scale(1.2);
  
}


.message-container{
  margin-top: 160PX;
}
