/* Global styles */
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo_container img {
  height: 40px;
}

#center_elements a,
.right_elements a {
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

#center_elements a:hover,
.right_elements a:hover {
  color: #ff8c00;
}

/* Contact container styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-form {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: rgb(3,37,37);
  background: linear-gradient(180deg, rgba(3,37,37,0.8239670868347339) 8%, rgba(250,219,154,1) 75%);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form select{
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form input[type="reset"] {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff6b00;
}
.contact-form input[type="reset"]:hover {
  background-color: #ff6b00;
}

.contact-form p.success {
  color: green;
  margin-top: 10px;
}

.contact-form p.error {
  color: red;
  margin-top: 10px;
}
  
/* Footer styles */
footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  margin-top: 30px;
  }
  
  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  footer .row a:hover{
  color:#fff;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  footer .row a img {
      width: 30px;
      padding: 10px; 
    }

    