body{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo_container img {
  height: 60px;
  margin-left: 15px;
}

#center_elements span,
.right_elements span {
  font-size: 20px;
  margin:  10px;
}

#center_elements span a,
.right_elements span a {
  text-decoration: none;
  color: #333;
}

#center_elements span a:hover,
.right_elements span a:hover {
  color: #ff8c00;
}
/* Product container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
}

/* Product card */
.product-card {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Product image */
.product-image {
  width: 40%;
  height: 480px;
  
}
.product-image img {
  top: 100px;
  left: 0;
  width: 70%;
  height: 70%;
  object-fit: cover; /* maintain aspect ratio and crop if necessary */
}
/* Product info */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.product-info .name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #cc8844;
}

.product-info .description {
  font-size: 1.2rem;
  margin: 20px 0;
}

.product-info .add-to-cart-btn {
  background-color: #e8ba05;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-info .add-to-cart-btn:hover {
  background-color: #faeb5f;
}


/* Product button */
.product-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.product-button:hover {
  background-color: #d00;
}

/* Footer styles */
footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  margin-top: 30px;
  }
  
  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  footer .row a:hover{
  color:#fff;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  footer .row a img {
      width: 30px;
      padding: 10px; 
    }
    
  
    .fb img {
      transition: transform 0.3s ease;
    }
    
    .fb:hover img {
      transform: scale(1.2); 
    }
    .insta img {
      transition: transform 0.3s ease;
    }
    
    .insta:hover img {
      transform: scale(1.2);
      
    }
    .ytb img {
      transition: transform 0.3s ease;
    }
    
    .ytb:hover img {
      transform: scale(1.2);
      
    }
    .twt img {
      transition: transform 0.3s ease;
    }
    
    .twt:hover img {
      transform: scale(1.2);
      
    }