body{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #f2f2f2;
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo_container img {
  height: 40px;
}

#center_elements span,
.right_elements span {
  font-size: 20px;
  margin: 0 10px;
}

#center_elements span a,
.right_elements span a {
  text-decoration: none;
  color: #333;
}
#Cart {
  margin-right: 10px;
}

#Cart a {
  text-decoration: none;
  color: #333;
}
#cart_count{
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem; 
  background-color: #08123f73;
}

#Cart img {
  width: 35px;
  height: 20px;
}

#center_elements span a:hover,
.right_elements span a:hover {
  color: #ff8c00;
}


/* Image container styles */
.image_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.image_container img {
  width: 80%;
  max-width: 1200px;
}

/* Products styles */
.Products {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.OnSale_products {
  display: flex;
  flex-wrap: wrap; /* Added this rule to wrap products to a new line */
  justify-content: center; /* Horizontally center the products */
  margin-right: 50px;
}

.product_card {
  margin: 20px; /* Added margin to create space between products */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.price {
  font-size: 16px;
}

/* Footer styles */
footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  margin-top: 30px;
  }
  
  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  footer .row a:hover{
  color:#fff;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  footer .row a img {
      width: 30px;
      padding: 10px; 
    }
    
  
    .carousel {
      position: relative;
      width: 100%;
      height: 400px;
      overflow: hidden;
    }
    
    .carousel-container {
      display: flex;
      position: absolute;
      width: calc(100% * 3);
      height: 100%;
      left: 0;
      transition: left 0.5s ease;
    }
    
    .carousel-item {
      width: calc(100% / 3);
      height: 100%;
      overflow: hidden;
    }
    
    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      font-size: 1.5rem;
      color: #000;
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 0.2s ease;
    }
    
    .carousel-button:hover {
      opacity: 1;
    }
    
    .carousel-button-prev {
      left: 0;
    }
    
    .carousel-button-next {
      right: 0;
    }

.audio-container {
  position: fixed;
  top: 70%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 9999;
}
#audio-player {
  display: none;
}

#stop-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #343030;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

#stop-button:hover {
  background-color: #ccc;
}

.product_card img {
  transition: transform 0.2s ease-in-out;
}

.product_card:hover img {
  transform: scale(1.1);
}
.add_to_cart {
background-color: #ff8c00;
color: #fff;
border: none;
padding: 8px 16px;
font-size: 16px;
cursor: pointer;
}

.add_to_cart:hover {
background-color: #ffa500;
}
  
#play-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #343030;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-top: 10px; 
}

#play-button:hover {
  background-color: #ccc;
}
#content {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

  #content .message {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  
  #content .username {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  #Logout {
    font-size: 20px;
    margin: 0 10px;
  }
  
  #Logout a {
    text-decoration: none;
    color: #333;
  }